
.works__box--single:first-child{
    height: 100vh;
}
.works__box--single{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ebebeb;
}
.works__img{
    width: 40%;
}
.works__img img{
    width: 60%;
    margin: 20%;
}
.works__content{
    width: 50%;
}
.works__content{
    padding:  0 10%;
}
.works__content h2{
    font-size: 40px;
    padding: 10px 0;
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.works__content p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

@media(max-width : 1024px){
    .works__content h2{
        font-size: 30px;
        padding: 5px 0;
        line-height: 1.3;
        text-align: left;
        word-spacing: 2px;
    }
    .works__content p{
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    .works__img{
        width: 30%;
    }
    .works__content{
        width: 70%;
    }
}
@media(max-width : 600px){
    .works__box--single:first-child{
        height: auto;
        padding-top: 100px;
    }
    .works__content h2{
        font-size: 20px;
    }
    .works__content p{
        font-size: 16px;
        letter-spacing: normal;
    }
    .works__content{
        padding:  0 2%;
    }
}