


.material__box{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/img/library.jpg);
    padding-top: 100px;
}
.material__box h2{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    line-height: 2;
}
.material__box p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 80%;
    margin: 0 10%;
}
@media(max-width : 700px){
    .material__box h2{
        font-size: 40px;
        line-height: 1.5
    }
    .material__box p{
        font-size: 18px;
        width: 90%;
        margin: 0 5%;
    }
}
.material__content > h3{
    font-size: 40px;
    text-align: center;
}
.materials__buffer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}
.materials__buffer--single{
    height: auto;
    width: 250px;
    border: 1px solid #ebebeb;
    margin: 10px;
    box-shadow: 0 1px 2px rgba(230, 230, 230, 0.719);
}
.materials__buffer--single:hover{
    box-shadow: 0 2px 6px rgba(216, 214, 214, 0.719);
}
.buffer__head{
    padding: 10px;
    height: 100%;
}
.buffer__head a{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.buffer__head a h2{
    text-align: center;
    color: rgb(8, 5, 39);
    font-size: 24px;
    padding: 10px;
}
.buffer__head a p{
    text-align: center;
    color: rgba(53, 54, 65, 0.63);
}
.buffer__head a img{
    padding: 10px;
}




.materials__buffer--single{
    position: relative;
}
.notyet{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgb(102, 3, 80);
    padding: 2px;
    font-size: 13px;
    background-color: rgb(102, 3, 80);
    border-bottom-left-radius: 10px;
    color: #fff;
    cursor: default;
}

@media(max-width : 700px){
    .materials__buffer--single{
        width: 46%;
        margin: 10px auto;
        height: auto;
    }
    .buffer__head a h2{
        font-size: 20px;
    }
    .buffer__head a p{
        font-size: 14px;
        padding: 5px;
        color: rgba(53, 54, 65, 0.884);
    }
    .material__content > h3{
        font-size: 26px;
    }
}




/*--------------------*/

.buffer__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buffer__quick{
    width: 16%;
    height: auto;
    padding: 0;
    margin: 20px 2%;
}
.quick__content{
    border: 1px solid rgba(228, 231, 231, 0.849);
    box-shadow: 0 4px 6px rgba(230, 230, 230, 0.719);
    padding: 10px;
    margin: 0 0 20px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quick__reference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quick__content h2{
    line-height: 2;
}
.quick__content ul{
    padding-left: 15px;
    list-style: none;
}
.quick__links ul li{
    padding: 2px 10px;
    border-left: 4px solid gold;
    margin-bottom: 8px;
}
.quick__content ul li a{
    text-decoration: none;
    color: navy;
}
.quick__content ul li a:hover{
    text-decoration: underline;
}

.buffer__box{
    width: 80%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.buffer__stored{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.buffer__stored ul{
    width: 300px;
}
.buffer__box--single{
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    overflow: hidden;
}
.buffer__box--single h2{
    padding: 5px 0;
    font-size: 24px;
    color: #f04e25;
    letter-spacing: 1px;
}
.buffer__box--single h2 span{
    font-weight: 400;
    font-size: 15px;
    font-style: oblique;
    color: rgb(100, 100, 119);
}
.buffer__box--single ul{
    padding: 10px 0;
    margin-left: 20px;
}
.buffer__box--single ul li{
    padding: 5px 0;
}
.buffer__box--single ul li a{
    text-decoration: none;
    color: #12111b;
    font-size: 18px;
}
.buffer__box--single ul li a:hover{
    text-decoration: underline;
    color: #0e2b69;
}

@media(max-width : 1200px){
    .buffer__box{
        width: 96%;
        margin: 20px 2%;
    }
    .buffer__box--single{
        width: 45%;
        padding: 10px;
    }
}

@media(max-width : 1024px){
    .buffer__box{
        width: 100%;
        margin: 10px 0;
        border: 1px solid transparent;
    }
    .buffer__box--single{
        width: 90%;
        margin: 10px 5%;
        padding: 10px;
    }
    .buffer__box--single h2{
        font-size: 20px;
    }
    .buffer__box--single ul li a{
        font-size: 16px;
    }
    .buffer__stored ul{
        width: 100%;
    }

    .buffer__quick{
        display: none;
    }
}
@media(max-width : 620px){
    .buffer__box--single ul li a{
        font-size: 14px;
    }
}







.content__box{
    padding-top: 100px;
}


.content{
    border: 1px solid #e6f8f0;
    background-color: #e9f6f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 2px #eaeef0e3;
    padding: 20px 50px;
    width: 80%;
    margin: 4% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.content__left{
    width: 60%;
}
.content__text{
    padding: 10px 5%;
}
.content__text a{
    width: 100%;
    height: 100%;
}
.content__text h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #060725;
    cursor: default;
}
.content__text p{
    letter-spacing: 1.5;
    font-size: 16px;
    color: rgb(100, 134, 136);
    padding: 10px 0;
    cursor: default;
}

.content__text .a__ref{
    margin-top: 20px;
}
.content__text .a__ref a{
    margin-top: 20px;
    padding: 8px 16px;
    border: 1px solid rgb(30, 179, 179);
    background-color: rgb(30, 179, 179);
    box-shadow: 0 4px 8px 2px rgba(153, 229, 233, 0.815);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}
.a__ref a:hover{
    box-shadow: 0 6px 10px 2px rgba(153, 229, 233, 0.815);
    background-color: rgba(30, 179, 179, 0.89);
}
.content__text ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    cursor: default;
}
.content__text ul li{
    padding-right: 20px;
    color: rgb(43, 129, 121);
}
.content__text ul li:first-child{
    color: rgb(43, 189, 174);
    font-weight: bold;
}
.content__text ul li:first-child i{
    padding-right: 10px;
}
.content__right{
    width: 40%;
}
.content__right img{
    width: 80%;
    margin: 10%;
}


@media(max-width : 1024px){
    .content__right img{
        width: 100%;
        margin: 0;
    }
    .content__text h1{
        font-size: 32px;
    }
}
@media(max-width : 850px){
    .content{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .content__left{
        width: 100%;
    }
    .content__right{
        width: 80%;
    }
    .content__right img{
        width: 100%;
        margin: 0;
    }
    .content__right .content__text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content__text{
        padding: 10px;
    }
    .content__text h1{
        text-align: center;
        font-size: 22px;
    }
    .content__text p{
        text-align: center;
        width: 100%;
    }
    .content__text ul{
        justify-content: center;
        align-items: center;
    }
    .content__text ul li{
        font-size: 14px;
    }
    .content__text .a__ref{
        text-align: center;
    }
}











.material__tag{
    padding: 20px 50px;
    padding-top: 150px; 
}
.material__tag--box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tag__single{
    border: 1px solid rgb(240, 235, 235);
    border-radius: 8px;
    box-shadow: 0 6px 10px 4px rgba(111, 166, 173, 0.3);
    margin: 20px;
    width: 30%;
    height: 200px;
}
.tag__single:hover{
    transform: translateY(-4px);
    transition: all .5s;
}
.tag__single:active{
    transform: translateY(8px);
    transition: all .5s;
}
.tag__single a{
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.tag__single a div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}
.tag__single a div span{
    line-height: 1.5;
}
.tag__single a div h2{
    line-height: 1.5;
    letter-spacing: 1px;
}
.tag__single a div p{
    line-height: 1.5;
}


.inactiveLink{
    pointer-events: none;
    cursor: not-allowed;
}